.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    
    img {
        width: 100px;
        animation: border 10s infinite ;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 30px;

      a {
        cursor: pointer;
      }
    }

}

@keyframes border {
 0% {
    filter: drop-shadow(2px 1px 1px #ffffff42);
  }

  50% {
    filter: drop-shadow(2px 1px 4px #ffffff42);
  }

  100% {
    filter: drop-shadow(2px 1px 1px #ffffff42);
  }
}