.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;

  .containerList {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .listProject {
      display: flex;
      flex-direction: column;
      padding: 20px;


      width: 300px;
      height: 150px;
      border: 2px solid var(--Color-secundary);
      border-radius: 8px;

      h1 {
        color: var(--Color-secundary);
        font-size: clamp(10px, 5vw, 20px);
      }

      &:hover {
        transition: .5s;
        box-shadow: 2px 2px var(--Color-white), 3px 3px var(--Color-white),
          4px 4px var(--Color-white);
        -webkit-transform: translateX(-10px);
        transform: translatey(-5px);

        h1 {
          color: var(--Color-white);
          font-size: clamp(10px, 5vw, 20px);
        }
      }
    }
  }
}
