.headerBtn {
    display: flex;
    height: 40px;
    padding: 10px;
    align-items: center;
    font-weight: 700;
    color: var(--Color-white);
    background: transparent;
    border-radius: 8px;
}