:root {
  --Color-primary: #002423;
  --Color-secundary: #8fbc8f;

  // Text
  --Color-white: #ffffff;
}

body {
  background-color: var(--Color-primary);
  color: var(--Color-white);
  font-family: "Inter", sans-serif;
}

.toast {
    width: 100px;
    height: 30px;
}
