.title1 {
    font-size: clamp(40px, 8vw, 80px);
}

.title2 {
    font-size: clamp(12px,5vw,36px);
}

.title3 {
    font-size: clamp(10px,5vw,20px);
}

.center {
    text-align: center;
}

.greyColor {
    color: var(--Color-secundary);
}

.secundaryColor {
    color: var(--Color-secundary);
}

