.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 20px;
  }

  p {
    width: 70%;
    text-align: center;
    margin-bottom: 20px;
  }

  ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;

    gap: 10px;
    li {
      display: flex;

      svg {
        width: 50px;
        height: 50px;
      transition: .5s;

      }

    
    }

    .html:hover {
      transition: .5s;
      animation-timing-function: linear;
      color: #f16529;
    }

    .css:hover {
      transition: .5s;
      color: #039be5;
    }

    .scss:hover {
      transition: .5s;
      color: #c76395;
    }

    .javascript:hover {
      transition: .5s;
      color: #fcd83a;
    }

    .react {
      animation: rotate 20s linear infinite;
      &:hover {
        transition: .5s;
        color: #4ac8ee;
      }
    }
  }
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}