.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

.allContainers {
  display: flex;
  flex-direction: column;
  height: 200%;
  gap: 30vh;

  .containerInitial {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 18%;
  }

  .containerAbout {
    display: flex;
    flex-direction: column;
    align-items: center;

    .aboutMe {
      margin-bottom: 20px;
    }

    .paragramAboutMe {
      width: 60%;
      text-align: center;
      margin-bottom: 20px;
      font-size: 30px;
    }

    .technology {
      display: flex;
      margin-top: 30px;
      margin-bottom: 10px;
      gap: 15px;


      li {
        display: flex;
        cursor: pointer;

        &:hover .titleTechs {
          opacity: 100%;
          transition: 0.5s;
          margin-top: 54px;
        }

        &:hover .titleCss {
          opacity: 100%;
          transition: 0.5s;
          margin-top: 54px;
        }

        &:hover .titlejs {
          opacity: 100%;
          transition: 0.5s;
          margin-top: 54px;
        }

        svg {
          width: 50px;
          height: 50px;
          transition: 0.5s;
        }

        .titleTechs {
          display: flex;
          opacity: 0%;
          font-size: clamp(10px, 5vw, 20px);
          position: absolute;
          margin-top: 25px;
          z-index: 1;
          transition: 0.5s;



        }
        .titleCss {
          display: flex;
          opacity: 0%;
          font-size: clamp(10px, 5vw, 20px);
          position: absolute;
          margin-top: 25px;
          z-index: 1;
          transition: 0.5s;
          margin-left: 7px;
        }

        .titlejs {
          display: flex;
          opacity: 0%;
          font-size: clamp(10px, 5vw, 20px);
          position: absolute;
          margin-top: 25px;
          z-index: 1;
          transition: 0.5s;
          margin-left: -21px;
        }
      }


      .html:hover {
        transition: 0.5s;
        animation-timing-function: linear;
        color: #f16529;
      }

      .css:hover {
        transition: 0.5s;
        color: #039be5;
      }

      .scss:hover {
        transition: 0.5s;
        color: #c76395;
      }

      .javascript:hover {
        transition: 0.5s;
        color: #fcd83a;
      }

      .react {
        &:hover {
          transition: 0.5s;
          color: #4ac8ee;
        }
      }
    }
  }
}

.containerProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    display: flex;
    margin-bottom: 50px;
  }

  .containerList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 700px;
    align-items: center;
    justify-content: center;

    @media(max-width:1620px) {
      grid-template-columns: 1fr 1fr;
    }

    .containerBanner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      max-width: 500px;
      max-height: 250px;
      border-radius: 45px;

      &:hover .banner {
        transition: 0.5s;
        box-shadow: 2px 2px var(--Color-secundary),
          3px 3px var(--Color-secundary), 4px 4px var(--Color-secundary);
        -webkit-transform: translateX(-10px);
        transform: translatey(-5px);
      }

      &:hover .titleProject {
        opacity: 100%;
        transition: 0.5s;
        margin-top: 21.375rem;
      }

      .titleProject {
        display: flex;
        opacity: 0;
        color: var(--Color-secundary);
        font-size: clamp(10px, 5vw, 20px);
        position: absolute;
        margin-top: 262px;
        margin-left: 192px;
        z-index: 1;
        transition: 0.5s;
      }

      .banner {
        display: flex;
        align-items: center;
        width: 500px;
        height: 250px;
        object-fit: inherit;
        border-radius: 8px;
        transition: 0.5s;
      }
    }
  }
}
}